.location-container{
    width: 100%;
    padding-top: 10px;
    display: flex;
    padding-bottom: 20px;
}

.location-description{
    width: 300px;
    margin-left: 5px;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #5F22D9;
    box-sizing: border-box;
    border-radius: 5px;
}

.location-description:focus{
    outline: none;
}

.location-icon{
    vertical-align:middle;
}

.guests-icon{
    vertical-align:middle;
    margin-left: 10px;
    margin-right: 10px;
}

.input-guests{
    width: 80px;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #5F22D9;
    box-sizing: border-box;
    border-radius: 5px;
}

.input-guests:focus{
    outline: none;
}

.text-guests{
    color: black;
    font-size: 12px;
    margin-left: 20px;
    text-align: center;
    line-height: 35px;
}